<div>
    <input type="button" class="btn-default" value="LOGOUT" ng-click="Logout()" /><br />
</div>

<div>
    <h2>Add Subcategories</h2>
    <input type="text" placeholder="subcategoryTitle" ng-model="subcategoryTitle" />
    <input type="text" placeholder="subcategoryDescription" ng-model="subcategoryDescription" />
    <input type="button" class="btn-default" value="addSubcategory" ng-click="addSubcategory()" />
    <input type="button" class="btn-default" value="deleteSubcategory" ng-click="deleteSubcategory()" />
</div>


<div>
    <h2>Your Subcategories</h2>
    <div>
        <span ng-repeat="subcategory in subcategories">
            <dt>
                <a href="/#!/subcategory/{{subcategory.SubcatId}}">Title: {{subcategory.Title}}</a>
            </dt>
            <dd>Description: {{subcategory.Description}}</dd>
            <dd>SubcatId: {{subcategory.SubcatId}}</dd>
        </span>
    </div>
</div>
