</br>
<h4>How can you break down the main category you chose into further topics? What are some general things you need help remembering?</h4>
<div class="list-group">
    <a href="#" class="list-group-item active">
        Subcategory Groups
    </a>
    <a href="/#!/subcategory/{{subcategory.SubcatId}}" class="list-group-item" ng-repeat="subcategory in subcategories">
        <span class="underline">{{subcategory.Title}}</span>
        : &nbsp {{subcategory.Description}}
    </a>
</div>

<div class="input-group">
    <label for="basic-url">New Subcategory Title<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="subcategoryTitle">
</div>

<div class="input-group">
    <label>New Subcategory Description</label>
    <textarea class="form-control" rows="3" placeholder="Description" ng-model="subcategoryDescription"></textarea>
</div>
<input type="button" class="btn-default" value="Add Subcategory" ng-click="addSubcategory()" />
