<h2></h2>
<h4>Enter some main categores that you need reminders for like Home, Car, Pet, etc...</h4>
<div class="card" >
    <div class="container">
        <a href="/#!/category/{{category.CatId}}"><div>{{category.Title}}</div></a>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item active">
        Main Categories
    </a>
    <a href="/#!/category/{{category.CatId}}" class="list-group-item"  ng-repeat="category in categories">{{category.Title}}</a>
    <!--<a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>-->
</div>

<form>
    <ul class="form-style-1">
        <li><label>New Category Title <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="Title" ng-model="categoryTitle" />&nbsp;</li>
        <!--<li>
            <label>New Category Description</label>
            <textarea name="field5" id="field5" class="field-long field-textarea" placeholder="Description" ng-model="categoryDescription"></textarea>
        </li>-->
        <li>
            <input type="button" class="btn-default" value="Add Category" ng-click="addCategory()" />
        </li>
    </ul>
</form>



