<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="username" placeholder="Email" ng-model="username">

            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            <button type="submit" class="btn btn-info" ng-click="login()">Login</button>
            <button type="submit" class="btn btn-success"><a href="#!/signUp">Sign Up!</a></button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>