<h2>Login</h2>

<div class="input-group">
    <label for="basic-url">Email<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="username">
</div>

<div class="input-group">
    <label for="basic-url">Password<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="password">
</div>

<button type="submit" class="btn btn-default" value="Login" ng-click="login()">Login</button>
<a href="#!/signUp"><button type="submit" class="btn btn-success" id="signUp">Sign Up!</button></a>