<h2>Sign Up</h2>

<div class="input-group">
    <label for="basic-url">Email<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="Email">
</div>

<div class="input-group">
    <label for="basic-url">Password<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="Password">
</div>

<div class="input-group">
    <label for="basic-url">Confirm Password<span class="required">*</span></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="ConfirmPassword">
</div>

<a href="#!/signUp"><button type="submit" class="btn btn-success" id="signUp" ng-click="SignUp()">Sign Up!</button></a>