<h2>Reminders</h2>
<div class="list-group">
    <a href="#" class="list-group-item active">
        Reminder Items:
    </a>
    <a href="#" class="list-group-item" ng-repeat="item in items">
        <span class="underline">{{item.Title}}</span>
        <div>Description:&nbsp &nbsp{{item.Description}}</div>
        <div>Frequency:&nbsp &nbsp{{item.Frequency}}</div>
        <div>Date Completed:&nbsp &nbsp{{item.NextDate}}</div>
    </a>
</div>

<!-- Input area  -->
<div>
    <h6>You can add a title and description. </h6>
    <h6>You can also add the frequency or how often you need to do this item (monthly, quarterly, yearly, etc...). </h6>
    <h6>Last you can add the date that you completed or will complete the task.</h6>
    <h6>This information will be stored for your reference in the future.</h6>

    <div class="input-group">
        <label for="basic-url">New Item Title <span class="required">*</span></label>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="itemTitle">
    </div>

    <div class="input-group">
        <label>New Item Description</label>
        <textarea class="form-control" rows="3" placeholder="Description" ng-model="itemDescription"></textarea>
    </div>

    <div class="input-group">
        <label for="basic-url">Frequency</label>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="itemFrequency">
    </div>

    <div class="input-group">
        <label for="basic-url">Completion Date</label>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="itemNextDate">
    </div>

    <input type="button" class="btn-default" value="Add Item" ng-click="addItem()" />
</div>
       
        

