<div>
    <input type="button" class="btn-default" value="LOGOUT" ng-click="Logout()" /><br />
</div>

<div>
    <h2>Add Items</h2>
    <input type="text" placeholder="itemTitle" ng-model="itemTitle" />
    <input type="text" placeholder="itemDescription" ng-model="itemDescription" />
    <input type="button" class="btn-default" value="addItem" ng-click="addItem()" />
</div>


<div>
    <h2>Your Items</h2>
    <div>
        <span ng-repeat="item in items">
            <dt>
                <a href="/#!/item/{{item.itemId}}">Title: {{item.Title}}</a>
            </dt>
            <dd>Description: {{item.Description}}</dd>
            <dd>SubcatId: {{item.SubcatId}}</dd>
            <dd>ItemId: {{item.ItemId}}</dd>
        </span>
    </div>
</div>